body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

 /* .legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
} */

.legend .g0 {
  color: #008000;
}

.legend .g1 {
  color: #00FF00;
}

.legend .g2 {
  color: #FFFF00;
}

.legend .g3 {
  color: #FFA500;
}

.legend .g4 {
  color: #FF4500;
} 

.legend .g5 {
  color: #FF0000;
}

.legend .g6 {
  color: #8B0000;
} 

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 25%;
}